<!DOCTYPE html5>
<html>
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
  </head>
  <body>
    <form action='/__auth__' method="POST">
      <fieldset>
        <div>
          <!-- Username -->
          <label for="username">Username</label>
          <div>
            <input type="text" id="username" name="username" placeholder="">
          </div>
        </div>
        <div>
          <!-- Password-->
          <label for="password">Password</label>
          <div>
            <input type="password" id="password" name="password" placeholder="">
          </div>
        </div>
        <div>
          <!-- Button -->
          <div style="margin-top: 10px;">
            <button>Login</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
</div>
</body>
</html>